apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: langfuse-web
  namespace: production
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  ingressClassName: nginx
  rules:
    - host: langfuse.teamleaseregtech.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: langfuse-web
                port:
                  number: 80
